body {
    font-family: sans-serif;
    background-color: gray;
}

a {
    text-decoration: none;
}

.error {
    margin: 0 auto 10px auto;
    border: 1px solid red;
    width: 80%;
    background-color: #d79797;
    padding: 7px;
}

.container {
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    max-width: 500px;
    min-height: 320px;
    text-align: center;
}

input#username,
input#password,
input#confirm_password {
    width: 80%;
    height: 40px;
    padding: 7px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.form-input {
    width: 80%;
    height: 40px;
    padding: 7px;
    font-size: 1rem;
    margin: 0 auto 10px auto;
}

textarea.form-input {
    min-height: 300px;
    font-family: sans-serif;
}

.input-username {
    display: flex;
    width: 80%;
    height: 40px;
    margin: 0 auto 10px auto;
    padding: 7px;
    border: .5px solid rgba(118, 118, 118, 0.3);
    border-radius: 2px;
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    align-items: center;
    color: rgb(118 118 118 / 58%);
}

button.btn {
    width: 150px;
    height: 40px;
    font-size: 1rem;
}

/* index.html */
p.current-username {
    width: 50%;
    text-align: left;
}

.update-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 18px;
    padding: 8px 5px 8px 15px;
    gap: 8px;
    border: 1px solid gray;
}

a.update-profile-option {
    position: absolute;
    display: none;
    padding: 8px 0;
    border: 1px solid gray;
    background: gray;
    color: white !important;
    top: 32px;
    left: -1px;
    width: 100%;
    transition: all ease-out 0.5s;
}

.update-profile:hover a.update-profile-option {
    display: block;
}

img.caret-down-solid {
    width: 1rem;
    height: .9rem;
}

.update-profile a {
    color: gray;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.header-title {
    text-transform: uppercase;
}

.users {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid;
}

p.username {
    width: 80%;
    text-align: left;
}

p.user-info {
    text-align: left;
}

.action {
    color: white;
    padding: 5px;
    cursor: pointer;
}

.action-add {
    background-color: green;
    padding: 8px 15px;
}

.action-mod {
    background-color: blue;
}

a.action.action-mod.profile {
    padding: 8px 15px;
}

.action-del {
    background-color: gray;
}

.action-logout {
    background-color: gray;
    padding: 8px 15px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.btn {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    border: 1px solid;
}

button.action.action-logout {
    border: none;
    font-size: 1rem;
}