<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <p class="current-username">User: <span th:text="${username}"></span></p>

            <div class="top-right-btns">
                <a href="/profile" class="action action-logout">Account Info</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="action action-logout">Log Out</button>
                </form>
            </div>
        </div>
        <div class="header">
            <h1 class="header-title">User List</h1>
            <div class="top-right-btns">
                <!-- <button class="action action-view search" onclick="handleSearch(event)">Search</button> -->
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/add-user" class="action action-add">Add</a>
            </div>
        </div>
        <div class="header">
            <input class="form-input search" type="text" name="searchName" id="searchName" onkeyup="handleSearch(event)" placeholder="Search... ">
        </div>
        <!-- <div th:each="user: ${users}" class="users">
            <p class="username" th:text="${user.username}"></p>
            <th:block th:if="${user.username != username}">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/change-username(id=${user.id})}"
                    class="action action-mod">Change</a>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="action action-del"
                    th:attr="onclick=|handleDelUser(${user.id}, '${user.username}')|">Delete
                </div>
            </th:block>
        </div> -->
        <div id="user-list">
            <script th:inline="javascript">
                let users = [[${ users }]];
                let username = [[${ username }]];
                let authorities = [[${ authorities }]];
                generateUsers(users, username, authorities);

            </script>
        </div>
        <th:block th:if="${param.continue}">
            <script th:inline="javascript">
                alert('Login success!');
            </script>
        </th:block>
        <th:block th:if="${param.message != null && param.message != ''}">
            <script th:inline="javascript">
                alert([[${ param.message }]]);
            </script>
        </th:block>

    </div>
    <script th:inline="javascript">
        function handleSearch(event) {
            let searchName = document.querySelector("input#searchName.search").value;
            let authorities = [[${ authorities }]];
            let username = [[${ username }]];
            if (searchName === "") {
                searchName = "*";
            }

            console.log(searchName);

            fetch(`http://localhost:8081/search-user?searchName=${searchName}`)
                .then((res) => {
                    if (!res.ok) {
                        throw new Error("API request failed");
                    } else {
                        return res.json();
                    }
                })
                .then((data) => {
                    generateUsers(data, username, authorities);
                });
        }
    </script>
</body>

</html>