<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <p>User: User 6</p>
            <a href="/login" class="action action-logout">Logout</a>
        </div>
        <div class="header">
            <h1>User List</h1>
            <a href="/add-user" class="action action-add">Add</a>
        </div>
        <div class="users">
            <p class="username">User 1</p>
            <a href="/mod-user" class="action action-mod">Mod</a>
            <div class="action action-del">Del</div>
        </div>
        <div class="users">
            <p class="username">User 2</p>
            <a href="/mod-user" class="action action-mod">Mod</a>
            <div class="action action-del">Del</div>
        </div>
    </div>
</body>
</html>