<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <p class="current-username">User: <span th:text="${username}"></span></p>

            <div class="top-right-btns">
                <a href="/account-info" class="action action-logout">Account Info</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="action action-logout">Log Out</button>
                </form>
            </div>
        </div>
        <div class="header">
            <h1 class="header-title">User List</h1>
            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/add-user" class="action action-add">Add</a>
        </div>
        <div th:each="user: ${users}" class="users">
            <p class="username" th:text="${user.username}"></p>
            <th:block th:if="${user.username != username}">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/mod-user(id=${user.id})}"
                    class="action action-mod">Mod</a>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="action action-del"
                    th:attr="onclick=|handleDelUser(${user.id}, '${user.username}')|">Del
                </div>
            </th:block>
        </div>
        <th:block th:if="${param.continue}">
            <script th:inline="javascript">
                alert('Login success!');
            </script>
        </th:block>
        <th:block th:if="${param.message != null && param.message != ''}">
            <script th:inline="javascript">
                alert([[${ param.message }]]);
            </script>
        </th:block>

    </div>

    <script>
        function handleDelUser(id, username) {
            if (confirm(`Are you sure to remove user?`))
                location.replace("/del-user?id=" + id);
        }
    </script>
</body>

</html>